.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.column-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-half {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-halves {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
  padding-top: 5px;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav .links {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active:hover {
  background-color: #ffbc48;
  color: black;
}

.active {
  background: linear-gradient(to right, orange, rgb(251, 113, 89));
  color: white;
}

.menu-toggle {
  display: block;
  position: absolute;
  right: 16px;
  top: 14px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Custom menu toggle bars */
.menu-toggle-bar {
  width: 100%;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

input {
  width: 250px;
  height: 55px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 20px;
}

li {
  padding-left: 10px;
  margin-left: 10px;
}

.bg {
  width: 100%;
  height: 300px;
  padding-top: 10px;
  margin: 0;
}

@media screen and (min-width: 568px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column-half {
    width: 50%;
    padding-top: 10px;
  }

  input {
    width: 400px;
    height: 55px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .testimotionals {
    width: 350px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
  }

  .testimotionals .card {
    position: relative;
    overflow: hidden;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  }

  .testimotionals .card .layer {
    z-index: 1;
    position: absolute;
    top: calc(100% - 2px);
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(to left, orange, tomato);
    transition: 0.5s;
  }

  .testimotionals .card .content {
    z-index: 2;
    position: relative;
  }

  .testimotionals .card:hover .layer {
    top: 0;
  }

  .testimotionals .card .content p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }

  .testimotionals .card .content .image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  }

  .testimotionals .card .conte nt .details h2 {
    font-size: 18px;
    color: white;
  }

  .testimotionals .card .content .details h2 span {
    font-size: 18px;
    color: purple;
    transition: 0.5s;
  }

  .testimotionals .card:hover .content .details h2 span {
    color: white;
    position: relative;
  }
}
}
